<!DOCTYPE html>
<html>

<head>
    <link href="../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <script src="../cordova.js"></script>
    <script src="../kendo/js/jquery.min.js"></script>
    <script src="../kendo/js/kendo.mobile.min.js"></script>
    <script src="https://bs-static.cdn.telerik.com/1.2.5/everlive.all.min.js"></script>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>
    <div data-role="view" id="index">
        <div class="header">
            <image src="../img/logo-itau.png"></image>
            <span>Produtos</span>
        </div>
        <div class="content">
            <div>
                <a href="produto.html?produto=Leves">Leves</a>
                <a href="produto.html?produto=Cartões">Cart&otilde;es</a>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
