.km-android .km-widget {
    color: #000;
}

.km-android .transitions-button-login {
    color: #fff;
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
    background-color: Green;
    border: 0px;
}
.km-android .transitions-button-sign-out {
    color: #fff;
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
    background-color: DarkRed;
    border: 0px;
}
.km-root .transitions-button,
.km-root .transitions-cancel {
    color: #fff;
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
    background-color: #000;
    border: 0px;
}
.km-ios7 .transitions-button,
.km-ios7 .transitions-cancel {
    color: #fff;
    border-color: transparent;
}
.km-blackberry .transitions-button,
.km-blackberry .transitions-cancel {
    margin: .6em 1.8em 0;
}
.logo-image {
    padding-top: 10%;
}
.km-android,
.km-android .km-header,
.km-android .km-footer,
.km-android .km-content,
.km-android .km-pane,
.km-android .km-scroll-header .km-group-title,
.km-android input[type=password],
.km-android input[type=search],
.km-android input[type=number],
.km-android input[type=tel],
.km-android input[type=url],
.km-android input[type=email],
.km-android input[type=text]:not(.k-input),
.km-root .km-android textarea {
    color: #000;
    background: #fff;
    outline-color: #fff;
}
#view-transitions,
#view-transitions-welcome p {
    color: #fff;
    text-align: center;
}
#view-transitions img,
#view-transitions-welcome img {
    display: block;
    margin: 30px auto;
}
#view-transitions-login label {
    display: inline-block;
    width: 100%;
}
#view-transitions .km-content,
#view-transitions-login .km-content,
#view-transitions-welcome .km-content {
    background: #fff;
}
.km-ios #view-transitions-welcome .km-button,
.km-ios7 #view-transitions-welcome .km-content .km-button,
.km-blackberry #view-transitions-welcome .km-content .km-button,
.km-flat #view-transitions-welcome .km-content .km-button {
    background-color: DarkRed;
    color: #fff;
}
.km-ios #view-transitions-login .transitions-button,
.km-ios7 #view-transitions-login .transitions-button,
.km-blackberry #view-transitions-login .km-content .transitions-button,
.km-flat #view-transitions-login .km-content .transitions-button {
    background-color: Green;
    color: #fff;
}
.km-material .transitions-button,
.km-material .transitions-cancel,
.km-blackberry #view-transitions *,
.km-blackberry #view-transitions-login *,
.km-blackberry #view-transitions-welcome * {
    color: #fff;
}
.km-ios #view-transitions .km-button,
.km-ios7 #view-transitions .km-button,
.km-ios #view-transitions-login .transitions-cancel,
.km-ios7 #view-transitions-login .transitions-cancel {
    background-color: #fff;
}
.km-flat #view-transitions .km-button,
.km-flat #view-transitions-login .km-content .transitions-cancel {
    background-color: #fff;
    color: #fff;
}
.km-ios #view-transitions .km-navbar,
.km-ios #view-transitions-login .km-navbar,
transitions .km-ios #view-transitions-welcome .km-navbar,
.km-ios7 #view-transitions .km-navbar,
.km-ios7 #view-transitions-login .km-navbar,
.km-ios7 #view-transitions-welcome .km-navbar,
.km-ios7 .km-view-title,
.km-blackberry #view-transitions .km-navbar,
.km-blackberry #view-transitions-login .km-navbar,
.km-blackberry #view-transitions-welcome .km-navbar,
.km-flat #view-transitions .km-navbar,
.km-flat #view-transitions-login .km-navbar,
.km-flat #view-transitions-welcome .km-navbar {
    background-color: #fff;
    color: #fff;
}
.km-ios7 #view-transitions .km-navbar,
.km-ios7 #view-transitions-login .km-navbar,
.km-ios7 #view-transitions-welcome .km-navbar {
    border-color: transparent;
}
.km-ios7 #view-transitions-login .km-list > li,
.km-ios7 #view-transitions-login .km-list > li input,
.km-android-light #view-transitions-login .km-list > li,
.km-wp-light #view-transitions-login .km-list > li {
    color: #fff;
}
.km-wp-light #view-transitions .km-view-title {
    color: #000;
}